body {
  background-color: black;
  font-family: sans-serif;
}

main {
  width: 95%;
  margin: 50px auto;
}

.row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card {
  flex-basis: 20%;
  margin: 20px;
  font-family: 'Inknut Antiqua', serif;
  line-height: 1.1em;
  padding: 20px;
  height: 300px;
  text-align: center;
  border: 6px solid white;
  background: url('ghost.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

#controls {
  position: fixed;
  width: 100%; 
  z-index: 1;
  text-align: center;
  padding: 20px;
  bottom: 0; 
  background-color: gray;
}

.card-center {
  font-family: 'Inknut Antiqua', serif;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.25em;
  width: 300px;
  padding: 20px;
}

button {
  margin-left: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: white;
  background-color: maroon;
  height: 100%;
}

input {
  margin-right: 15px;
}

/*.suit {
  display: block;
  text-align: center;
}*/