body {
  background-color: black;
  font-family: 'Inknut Antiqua', serif;
  color: white;
}

header {
  width: 40%;
  margin: 50px auto;
}

footer {
  display: none;
  width: 50%;
  margin: 70px auto;
  text-align: center;
}

h1 {
  font-size: 4em;
  margin: 25px 0;
  line-height: 1.5;
}

p {
  margin: 15px 0;
}

main {
  width: 95%;
  margin: 50px auto;
}

.row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card {
  color: black;
  font-size: 1.1vw;
  flex-basis: 20%;
  margin: 15px;
  line-height: 1.7em;
  padding: 15px;
  height: 45vh;
  border: 5px solid white;
  background: url('tarot-black.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  letter-spacing: -1px;
  hyphens: auto;
  box-shadow: 0px 3px 10px gray;
}

.title {
  width: 100%;
  text-align: center;
  display: block;
}

.major {
  text-align: justify;
}

.right {
  float: right;
}

.left {
  float: left;
}

/*Mobile Stylings*/
@media only screen and (max-width: 760px) {
  main {
    margin-top: 10px;
  }

  header {
    width: 90%;
    margin: 20px auto;
  }

  h1 {
    font-size: 3em;
  }

  footer {
    margin: 30px auto;
    width: 90%;
    line-height: 1.2em;
  }

  .row {
    display: block;
    width: 100%;
  }

  .card {
    display: block;
    width: 80%;
    margin: 20px auto;
    font-size: 1em;
    height: 65vh;
  }
}